/* HTML and Body Styles */
header {
    font-family: 'Notable', sans-serif;
    font-size: 50px;
    text-align: left;
}

nav>ul>li {
    list-style-type: none;
    text-align: center;
    padding: 10px 10px 10px 10px;
}



img {
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}



/* Heading Styles */




/* Structural Styles */




/* Aside and Blockquote Styles */



/* Navigation Styles */



/* List Styles */



/* Outline Styles */




/* Section Styles */



/* Artilce Styles */




/* Footer Styles */